@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Corban Procuniar";

}


<h1>Corban Procuniar</h1>
<img src="img/debuggin.jpg" alt="debugging" width="300" />
<br /><br />
<div class="row">
    <div class="col">
        <div class="card">
            <!--paragraph explaining what i hope to learn from IS 413-->
            <p>
                As an information systems professional, I am excited to understand better how web applications
                function and how they are implemented in business. As I learn more about C# and ASP.net,
                I'll be a more capable developer, leader, and businessman.
            </p>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <h3>Careers I'm thinking about</h3>
            <ol>
                <li>Security</li>
                <li>Consulting</li>
                <li>Business Analytics</li>
            </ol>
        </div>
    </div>
</div>
<br />


